<a href="https://colab.research.google.com/github/jsung0228/code/blob/main/Combining_Multiple_Datasets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#In this tutorial we will practice how to combine datasets and discover if we can find more relationships

import pandas as pd
import numpy as np


unemp_county = pd.read_csv("https://raw.githubusercontent.com/jsung0228/code/main/DataSets/US_unemployment_rate.csv")
unemp_county.head()

   Year Month  State                County  Rate
0  1999  June  Texas           Ward County  13.3
1  1999  June  Texas         Baylor County   4.0
2  1999  June  Texas         Scurry County  10.2
3  1999  June  Texas  Collingsworth County   1.3
4  1999  June  Texas       Cherokee County   4.6

In [8]:
#Let's bringin the datasets for minimum wage tables

df = pd.read_csv('https://raw.githubusercontent.com/jsung0228/code/main/DataSets/Minimum%20Wage%20Data.csv', encoding="latin")

#First let's make a minimum wage table for each year for each states
act_min_wage = pd.DataFrame()
for name, group in df.groupby("State"):
    if act_min_wage.empty:
        act_min_wage = group.set_index("Year")[["Department.Of.Labor.Cleaned.Low.Value.2020.Dollars"]].rename(columns={"Department.Of.Labor.Cleaned.Low.Value.2020.Dollars":name})
    else:
        act_min_wage = act_min_wage.join(group.set_index("Year")[["Department.Of.Labor.Cleaned.Low.Value.2020.Dollars"]].rename(columns={"Department.Of.Labor.Cleaned.Low.Value.2020.Dollars":name}))

act_min_wage = act_min_wage.replace(0,np.NaN).dropna(axis=1)
act_min_wage.head()

      Alaska  Arkansas  California  ...  West Virginia  Wisconsin  Wyoming
Year                                ...
1968   15.61      1.16       12.26  ...           7.43       9.29     8.92
1969   14.80      1.10       11.63  ...           7.05       8.81     8.46
1970   14.00      7.33       11.00  ...           6.67       8.67     8.67
1971   13.41      7.03       10.54  ...           6.39       8.30     8.30
1972   12.99      7.43       10.21  ...           7.43       8.97     9.28

[5 rows x 37 columns]

We want to add a minimum wage data on the unemployment data

In [9]:
def get_min_wage(year, state):
  try: 
    return act_min_wage.loc[year][state]
  except:
    return np.NaN
get_min_wage(2012, "Colorado")

8.61

In [13]:
#So the way we will approach it, is by using the mapping function in python which will iterate a function on a given list

%%time
unemp_county['min_wage'] = list(map(get_min_wage, unemp_county['Year'], unemp_county['State']))

CPU times: user 1min 2s, sys: 190 ms, total: 1min 2s
Wall time: 1min 9s

In [15]:
unemp_county.tail()

        Year     Month  State              County  Rate  min_wage
569098  2016  November  Maine     Somerset County   5.4      8.08
569099  2016  November  Maine       Oxford County   4.6      8.08
569100  2016  November  Maine         Knox County   3.6      8.08
569101  2016  November  Maine  Piscataquis County   5.6      8.08
569102  2016  November  Maine    Aroostook County   5.7      8.08

In [16]:
unemp_county[['Rate','min_wage']].corr()

             Rate  min_wage
Rate      1.00000   0.22897
min_wage  0.22897   1.00000

In [17]:
unemp_county[['Rate','min_wage']].cov()

              Rate  min_wage
Rate      8.062240  1.024039
min_wage  1.024039  2.484621

In [18]:
pres16 = pd.read_csv("https://raw.githubusercontent.com/jsung0228/code/main/DataSets/pres16results.csv")
pres16.head()

  county fips             cand  ...  total_votes       pct          lead
0    NaN   US     Donald Trump  ...  127592176.0  0.472993  Donald Trump
1    NaN   US  Hillary Clinton  ...  127592176.0  0.477938  Donald Trump
2    NaN   US     Gary Johnson  ...  127592176.0  0.032640  Donald Trump
3    NaN   US       Jill Stein  ...  127592176.0  0.009844  Donald Trump
4    NaN   US    Evan McMullin  ...  127592176.0  0.003540  Donald Trump

[5 rows x 9 columns]

In [23]:
county_2015 = unemp_county[(unemp_county['Year']==2015)&(unemp_county['Month']=='February')]
county_2015.head()

        Year     Month        State         County  Rate  min_wage
501263  2015  February  Mississippi  Newton County   6.1       NaN
501264  2015  February  Mississippi  Panola County   9.4       NaN
501265  2015  February  Mississippi  Monroe County   7.9       NaN
501266  2015  February  Mississippi   Hinds County   6.1       NaN
501267  2015  February  Mississippi  Kemper County  10.6       NaN