<a href="https://colab.research.google.com/github/jsung0228/code/blob/main/Groupby_Data_Analysis_with_Python_3_and_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/jsung0228/code/main/DataSets/Minimum%20Wage%20Data.csv', encoding="latin")

In [7]:
df.head()

   Year  ... Footnote
0  1968  ...      NaN
1  1968  ...      NaN
2  1968  ...      (b)
3  1968  ...      (b)
4  1968  ...      (b)

[5 rows x 15 columns]

In [10]:
gb=pd.DataFrame()

gb=df.groupby('State')
gb.get_group('Alabama').set_index('Year').head()

        State  ...  Footnote
Year           ...
1968  Alabama  ...       NaN
1969  Alabama  ...       NaN
1970  Alabama  ...       NaN
1971  Alabama  ...       NaN
1972  Alabama  ...       NaN

[5 rows x 14 columns]

In [16]:
#You can groupby the data according to the states and get the column of interest and join the datasets

act_min_wage = pd.DataFrame()

for name, group in df.groupby("State"):
    if act_min_wage.empty:
        act_min_wage = group.set_index("Year")[["Department.Of.Labor.Cleaned.Low.Value.2020.Dollars"]].rename(columns={"Department.Of.Labor.Cleaned.Low.Value.2020.Dollars":name})
    else:
        act_min_wage = act_min_wage.join(group.set_index("Year")[["Department.Of.Labor.Cleaned.Low.Value.2020.Dollars"]].rename(columns={"Department.Of.Labor.Cleaned.Low.Value.2020.Dollars":name}))

act_min_wage.head()

      Alabama  Alaska  Arizona  ...  West Virginia  Wisconsin  Wyoming
Year                            ...
1968      0.0   15.61     3.48  ...           7.43       9.29     8.92
1969      0.0   14.80     3.30  ...           7.05       8.81     8.46
1970      0.0   14.00     3.12  ...           6.67       8.67     8.67
1971      0.0   13.41     2.99  ...           6.39       8.30     8.30
1972      0.0   12.99     2.90  ...           7.43       8.97     9.28

[5 rows x 54 columns]

In [17]:
act_min_wage.describe()
#Statistical Description of your dataframe

       Alabama     Alaska    Arizona  ...  West Virginia  Wisconsin    Wyoming
count     53.0  53.000000  53.000000  ...      53.000000  53.000000  53.000000
mean       0.0   9.917736   2.917358  ...       7.486226   7.914528   5.313208
std        0.0   1.852213   4.102247  ...       0.866017   0.778113   2.004899
min        0.0   7.620000   0.000000  ...       5.770000   6.630000   2.340000
25%        0.0   8.590000   0.000000  ...       6.850000   7.320000   3.500000
50%        0.0   9.260000   0.000000  ...       7.370000   7.810000   5.550000
75%        0.0  10.510000   8.290000  ...       7.930000   8.340000   6.820000
max        0.0  15.610000  12.140000  ...       9.430000   9.980000   9.280000

[8 rows x 54 columns]

In [18]:
#We get correlation between each columns which will be very messy
act_min_wage.corr().head()

            Alabama    Alaska   Arizona  ...  West Virginia  Wisconsin   Wyoming
Alabama         NaN       NaN       NaN  ...            NaN        NaN       NaN
Alaska          NaN  1.000000  0.037101  ...       0.056924   0.683108  0.726771
Arizona         NaN  0.037101  1.000000  ...       0.663311   0.014723  0.288171
Arkansas        NaN -0.332127  0.271834  ...       0.504703  -0.069024 -0.235369
California      NaN  0.622245  0.639006  ...       0.492809   0.382444  0.598739

[5 rows x 54 columns]

In [24]:
#So obviously there are some data we aren't retrieving. Let's sort that data
issue_df = df[df['Department.Of.Labor.Cleaned.Low.Value.2020.Dollars']==0]
issue_df.head()

    Year  ... Footnote
0   1968  ...      NaN
9   1968  ...      NaN
10  1968  ...      NaN
14  1968  ...      NaN
16  1968  ...      NaN

[5 rows x 15 columns]

In [25]:
issue_df["State"].unique()

array(['Alabama', 'Florida', 'Georgia', 'Illinois', 'Iowa', 'Kansas',
       'Louisiana', 'Mississippi', 'Missouri', 'Montana',
       'South Carolina', 'Tennessee', 'Texas', 'Virginia', 'Arizona'],
      dtype=object)

In [26]:
import numpy as np

In [28]:
#Aixs =1, get rid of column(default is axis =0)
#Let's use numpy to get rid of all the zeroes 
act_min_wage.replace(0, np.NaN).dropna(axis=1)

      Alaska  Arkansas  California  ...  West Virginia  Wisconsin  Wyoming
Year                                ...
1968   15.61      1.16       12.26  ...           7.43       9.29     8.92
1969   14.80      1.10       11.63  ...           7.05       8.81     8.46
1970   14.00      7.33       11.00  ...           6.67       8.67     8.67
1971   13.41      7.03       10.54  ...           6.39       8.30     8.30
1972   12.99      7.43       10.21  ...           7.43       8.97     9.28
1973   12.23      6.99        9.61  ...           6.99       8.45     8.74
1974   11.02      6.30        8.66  ...           6.30       7.61     7.87
1975   10.10      5.77        7.93  ...           5.77       6.97     7.21
1976   12.73      8.64        9.09  ...           9.09       9.55     7.27
1977   11.95      8.11        8.54  ...           8.54       8.96     6.83
1978   11.11      7.54        7.93  ...           7.93       8.33     6.35
1979   12.11      8.19       10.33  ...           7.84       9.98     5.70
1980   11.30      8.00        9.10  ...           6.91       9.42     5.02
1981   10.96      7.68        9.53  ...           7.83       9.25     4.55
1982   10.32      7.24        8.98  ...           7.37       8.71     4.29
1983   10.00      7.01        8.70  ...           7.14       8.44     4.16
1984    9.58      6.72        8.34  ...           6.85       8.09     3.98
1985    9.26      6.49        8.05  ...           6.61       7.81     3.85
1986    9.09      6.37        7.91  ...           6.49       7.67     3.78
1987    8.77      6.15        7.63  ...           6.26       7.40     3.64
1988    8.42      7.11        7.32  ...           7.32       7.32     3.50
1989    8.03      6.78        6.99  ...           6.99       6.99     3.34
1990    7.62      6.43        6.63  ...           6.63       6.63     3.17
1991    8.17      6.36        8.07  ...           6.36       7.22     3.04
1992    8.76      6.73        7.84  ...           7.01       7.01     2.95
1993    8.50      6.53        7.61  ...           6.80       6.80     2.86
1994    8.29      7.42        7.42  ...           7.42       7.42     2.79
1995    8.06      7.21        7.21  ...           7.21       7.21     2.72
1996    7.83      7.01        7.01  ...           7.01       7.01     2.64
1997    8.46      6.85        7.66  ...           6.85       7.66     2.58
1998    8.97      8.17        8.17  ...           7.54       8.17     2.54
1999    8.77      8.00        8.00  ...           7.37       8.00     2.48
2000    8.49      7.74        8.64  ...           7.74       7.74     2.40
2001    8.25      7.52        9.13  ...           7.52       7.52     2.34
2002    8.12      7.40        9.71  ...           7.40       7.40     7.40
2003   10.05      7.24        9.49  ...           7.24       7.24     7.24
2004    9.79      7.05        9.24  ...           7.05       7.05     7.05
2005    9.47      6.82        8.94  ...           6.82       6.82     6.82
2006    9.17      6.61        8.66  ...           6.61       7.31     6.61
2007    8.92      7.80        9.36  ...           7.30       8.11     6.42
2008    8.59      7.51        9.61  ...           7.87       7.81     6.19
2009    8.62      7.54        9.65  ...           8.74       7.84     6.21
2010    9.19      7.41        9.49  ...           8.60       8.60     6.11
2011    8.91      7.19        9.20  ...           8.34       8.34     5.92
2012    8.73      7.04        9.01  ...           8.17       8.17     5.80
2013    8.61      6.94        8.88  ...           8.05       8.05     5.72
2014    8.47      6.83        9.83  ...           7.92       7.92     5.63
2015    9.55      8.18        9.82  ...           8.73       7.91     5.62
2016   10.51      8.62       10.78  ...           9.43       7.81     5.55
2017   10.34      8.97       10.55  ...           9.23       7.65     5.43
2018   10.14      8.76       11.33  ...           9.01       7.47     5.30
2019   10.31      9.36       12.14  ...           8.85       7.34     5.21
2020   10.19     10.00       13.00  ...           8.75       7.25     5.15

[53 rows x 37 columns]

In [ ]:
act_