<a href="https://colab.research.google.com/github/jsung0228/code/blob/main/Groupby_Data_Analysis_with_Python_3_and_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/jsung0228/code/main/DataSets/Minimum%20Wage%20Data.csv', encoding="latin")

In [ ]:
df.head()

   Year  ... Footnote
0  1968  ...      NaN
1  1968  ...      NaN
2  1968  ...      (b)
3  1968  ...      (b)
4  1968  ...      (b)

[5 rows x 15 columns]

In [3]:
gb=pd.DataFrame()

gb=df.groupby('State')
gb.get_group('Alabama').set_index('Year').head()

        State  ...  Footnote
Year           ...
1968  Alabama  ...       NaN
1969  Alabama  ...       NaN
1970  Alabama  ...       NaN
1971  Alabama  ...       NaN
1972  Alabama  ...       NaN

[5 rows x 14 columns]

In [4]:
#You can groupby the data according to the states and get the column of interest and join the datasets

act_min_wage = pd.DataFrame()

for name, group in df.groupby("State"):
    if act_min_wage.empty:
        act_min_wage = group.set_index("Year")[["Department.Of.Labor.Cleaned.Low.Value.2020.Dollars"]].rename(columns={"Department.Of.Labor.Cleaned.Low.Value.2020.Dollars":name})
    else:
        act_min_wage = act_min_wage.join(group.set_index("Year")[["Department.Of.Labor.Cleaned.Low.Value.2020.Dollars"]].rename(columns={"Department.Of.Labor.Cleaned.Low.Value.2020.Dollars":name}))

act_min_wage.head()

      Alabama  Alaska  Arizona  ...  West Virginia  Wisconsin  Wyoming
Year                            ...
1968      0.0   15.61     3.48  ...           7.43       9.29     8.92
1969      0.0   14.80     3.30  ...           7.05       8.81     8.46
1970      0.0   14.00     3.12  ...           6.67       8.67     8.67
1971      0.0   13.41     2.99  ...           6.39       8.30     8.30
1972      0.0   12.99     2.90  ...           7.43       8.97     9.28

[5 rows x 54 columns]

In [5]:
act_min_wage.describe()
#Statistical Description of your dataframe

       Alabama     Alaska    Arizona  ...  West Virginia  Wisconsin    Wyoming
count     53.0  53.000000  53.000000  ...      53.000000  53.000000  53.000000
mean       0.0   9.917736   2.917358  ...       7.486226   7.914528   5.313208
std        0.0   1.852213   4.102247  ...       0.866017   0.778113   2.004899
min        0.0   7.620000   0.000000  ...       5.770000   6.630000   2.340000
25%        0.0   8.590000   0.000000  ...       6.850000   7.320000   3.500000
50%        0.0   9.260000   0.000000  ...       7.370000   7.810000   5.550000
75%        0.0  10.510000   8.290000  ...       7.930000   8.340000   6.820000
max        0.0  15.610000  12.140000  ...       9.430000   9.980000   9.280000

[8 rows x 54 columns]

In [6]:
#We get correlation between each columns which will be very messy
act_min_wage.corr().head()

            Alabama    Alaska   Arizona  ...  West Virginia  Wisconsin   Wyoming
Alabama         NaN       NaN       NaN  ...            NaN        NaN       NaN
Alaska          NaN  1.000000  0.037101  ...       0.056924   0.683108  0.726771
Arizona         NaN  0.037101  1.000000  ...       0.663311   0.014723  0.288171
Arkansas        NaN -0.332127  0.271834  ...       0.504703  -0.069024 -0.235369
California      NaN  0.622245  0.639006  ...       0.492809   0.382444  0.598739

[5 rows x 54 columns]

In [7]:
#So obviously there are some data we aren't retrieving. Let's sort that data
issue_df = df[df['Department.Of.Labor.Cleaned.Low.Value.2020.Dollars']==0]
issue_df.head()

    Year  ... Footnote
0   1968  ...      NaN
9   1968  ...      NaN
10  1968  ...      NaN
14  1968  ...      NaN
16  1968  ...      NaN

[5 rows x 15 columns]

In [8]:
issue_df["State"].unique()

array(['Alabama', 'Florida', 'Georgia', 'Illinois', 'Iowa', 'Kansas',
       'Louisiana', 'Mississippi', 'Missouri', 'Montana',
       'South Carolina', 'Tennessee', 'Texas', 'Virginia', 'Arizona'],
      dtype=object)

In [9]:
import numpy as np

In [10]:
#Axis =1, get rid of column(default is axis =0)
#Let's use numpy to get rid of all the zeroes 
min_wage_corr=act_min_wage.replace(0, np.NaN).dropna(axis=1).corr()

In [11]:
for problem in issue_df['State'].unique():
  if problem in min_wage_corr.columns:
    print("Missing something here....")

#So apparently we do not have any issue with these states being omitted

In [13]:
grouped_issues = issue_df.groupby("State")
grouped_issues.get_group("Alabama").head(3)

     Year  ... Footnote
0    1968  ...      NaN
54   1969  ...      NaN
108  1970  ...      NaN

[3 rows x 15 columns]

In [14]:
for state, data in grouped_issues:
  if data['Department.Of.Labor.Cleaned.Low.Value.2020.Dollars'].sum() != 0.0:
    print("We are missing something!")